@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="">
    <form class="text-center border border-light p-5" action="#!">
        <div class="col-12" style="text-align: initial">
            <p class="h4 mb-4">Cadastro de Motoristas</p>
            <input type="text" id="name-driver" class="form-control mb-4" placeholder="Nome">
            <input type="number" id="age-driver" class="form-control mb-4" placeholder="Idade">
            <input type="number" id="cpf-driver" class="form-control mb-4" placeholder="Cpf">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="isActive-driver">
                <label class="form-check-label" for="isActive-driver">Ativo</label>
            </div>

            <button class="btn btn-info btn-block my-4" type="submit">Salvar</button>
        </div>

    </form>
</div>

