@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="">
    <form class="text-center border border-light p-5" action="#!">


        <div class="col-12" style="text-align: initial">
            <p class="h4 mb-4">Cadastro de Adicionais</p>
            
            <div class="select-bus-additional mb-3">
                <select class="custom-select">
                    <option>Teste 1</option>
                    <option>Teste 2</option>
                    <option>Teste 3</option>
                </select>
            </div>
            
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="has-minibar">
                <label class="form-check-label" for="has-minibar">Geladeira</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="has-conditioning">
                <label class="form-check-label" for="has-conditioning">Ar condicionado</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="has-bathroom">
                <label class="form-check-label" for="has-bathroom">Banheiro</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="has-wifi">
                <label class="form-check-label" for="has-wifi">Wifi</label>
            </div>

            <button class="btn btn-info btn-block my-4" type="submit">Salvar</button>
        </div>

    </form>
</div>

